<section class="panel" data-component="panel-discussions">
  <div class="panel-header">Discussions</div>
  <div class="panel-body" data-role="discussions"></div>
  <input type="text" data-role="discussion-title" placeholder="Thread title" />
  <textarea data-role="discussion-content" placeholder="Start a thread"></textarea>
  <button data-action="discussion-create" type="button">Create Thread</button>
  <textarea class="panel-annotation" data-role="annotation" placeholder="Add annotation"></textarea>
  <div class="panel-nag" data-role="nag">
    <button data-action="nag-!" type="button">!</button>
    <button data-action="nag-?" type="button">?</button>
    <button data-action="nag-!!" type="button">!!</button>
    <button data-action="nag-??" type="button">??</button>
  </div>
</section>
