<section class="rightpanel" data-component="rightpanel">
  <div class="rightpanel-tabs" data-role="tabs">
    <button class="rightpanel-tab" data-tab="discussions" type="button">Discussions</button>
    <button class="rightpanel-tab" data-tab="versions" type="button">Versions</button>
    <button class="rightpanel-tab" data-tab="presence" type="button">Presence</button>
    <button class="rightpanel-tab" data-tab="notifications" type="button">Notifications</button>
  </div>
  <div class="rightpanel-content" data-role="content"></div>
</section>
